node_modules
dist
build
coverage

.pnpm-store
.turbo
.cache

.env
.env.*
!.env.example

package-lock.json
pnpm-lock.yaml
package.json
apps/*/package.json

*.log

@mf-types/
**/@mf-types/
**/*mf-types/
**/.mf/